@media (max-width: 768px) {
    *{
        width: 100%;
    }
    header{
        min-height: 40px;
       }
    .posicion_menu{
       width: 360px;
        
      }
      .menu{
        border-radius: 8px; 
        width: 360px;
        
      }
      .ul{
        width: 340px;
      }
      .datos.i1 {
        left: -5%; 
    }
    .datos.i2{
      left: 16%
    }
    
    .datos.i3{
      left: 37%;
    }
    .datos.i4{
      left: 51%;
    }
    
    .datos.i5 {
        left: 74%; 
    }
    section{  
      width: 100%; 
    }
    /*sobremi */
    #yo{
        width: 100px;
        height: 125px;
    }
    h1{
     margin-top: 40px;
        font-size: 30px;
        margin-bottom: 40px;
      }
     
    .content{
        width: 60%;
        
    }
    #yo{
        position: relative;
    left: 80px;
      
    }
    .contenedor{
      width: 100%;
    }
    .subcontenedor{
      position: relative;
    }
  .article{
    display: flex;
    flex-direction: column;
  }
    .articlepart{

      min-width: 100%;
      min-height: 100%;
      
    }

    .skills{
      
      width:100%;
      flex-wrap: wrap;
      padding-left: 0px;
    }
    .skills li {
      width: auto;
    }
   
}
    